In [1]:
import sys
sys.path.insert(0, '../YTCollab/src/')

import extract_data

In [2]:
y = extract_data.get_specific_channel('UC9CuvdOVfMPvKCiwdGKL3cQ')
df = pd.read_csv('../YTCollab/data/YTGaming_base.csv').drop('Unnamed: 0', axis=1)

1.27595686913

../YTCollab/src/extract_data.py:232: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df_new[topic][i] = count

In [3]:
y

,title,desc,country,banner,subs,videos,views,/m/0g65_,/m/07yv9,/m/01mw1,...,/m/013f7bmb,/m/01bz5k,/m/03h8_g,/m/0215n,/m/0hcr,/m/0jt_x,/m/095bb,/m/05h5m,/m/085jw,/m/010xc8lh
0,GameGrumps,Game Grumps: Dan and Arin playin' games. Alway...,n/a,https://yt3.ggpht.com/-0iLht5y8YpU/Vp15W0KLj3I...,3215330,3937,2139261029,8,2,19,...,7,2,1,1,2,4,2,3,3,1

In [4]:
df = extract_data.get_channel_data('News & Politics')

In [6]:
s = 'FunGames'
s = s.replace(' ', '_').replace('&', 'and')

In [5]:
df.head()

,title,desc,country,banner,subs,videos,views,topics
0,VICE News,VICE News is an international news channel cre...,US,https://yt3.ggpht.com/--v58fhBRrVU/Vov6L-ora3I...,1828803,1711,374641560,"{u'/m/0329by': 1, u'/m/0ytgt': 1, u'/m/09dhj':..."
1,Pete Santilli Show,This is the official YouTube channel of The Pe...,n/a,https://yt3.ggpht.com/-DX83XvsGq9s/VkHeCkfDLEI...,68203,2038,19924874,"{u'/m/02y3rj': 2, u'/m/02dsz': 1, u'/m/07yv9':..."
2,Larry King,Larry King brings you newsmakers of every stri...,n/a,https://yt3.ggpht.com/-gS40lLsiljg/UcHhxcgx1-I...,88135,3280,44143806,"{u'/m/05kc29': 4, u'/m/02jjt': 16, u'/m/0b6lgk..."
3,CBS Los Angeles,Official YouTube channel for CBS Los Angeles. ...,n/a,https://yt3.ggpht.com/-lodNxDL-45M/UwfLmNPsxpI...,0,8306,18698364,"{u'/m/0d075m': 1, u'/m/020v6m': 1, u'/m/030qb3..."
4,The Young Turks,The Largest Online News Show in the World. Hos...,n/a,https://yt3.ggpht.com/-A7opeYwaMNw/U-jKmvRBopI...,2836044,24874,2650358130,"{u'/m/0157m': 1, u'/m/020m7t': 2, u'/m/0509p':..."

In [57]:
for topic in df.columns[5:]:
    y[topic] = 0
for row in y['topics']:
    for i, topic in enumerate(row):
        try:
            y[topic][i] = 1
        except:
            y[topic] = 0
            y[topic][i] = 1
            df[topic] = 0
y = y.drop('topics', axis=1)

/home/alex/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,title,country,subs,videos,views,/m/02hrh1q,/m/07vqnc,/m/0gyv1hg,/m/02n4hz,/m/03d3jcv,...,/m/0248b,/m/06l9b,/m/026dz5f,/m/07f_7h,/m/01ct6,/m/079m5l,/m/0174k2,/m/043mm3,/m/05v954,/m/02zw41
0,FaZe Rain,CA,3181752,1302,505886761,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FGTeeV,US,1508136,883,1635569899,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Ali-A,GB,7947398,2104,1898281080,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Aphmau,US,1622414,1827,569954877,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,HikePlays,US,1830016,991,419251873,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
y

,title,country,subs,videos,views,/m/02hrh1q,/m/07vqnc,/m/0gyv1hg,/m/02n4hz,/m/03d3jcv,...,/m/0248b,/m/06l9b,/m/026dz5f,/m/07f_7h,/m/01ct6,/m/079m5l,/m/0174k2,/m/043mm3,/m/05v954,/m/02zw41
0,Jesse Cox,US,868471,3325,364973435,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [58]:
df_num = df.drop(np.where(df['title'] == y['title'][0])[0]).drop(['title','country'], axis=1)
y_num = y.drop(['title','country'], axis=1)

sim_scores = cosine_similarity(df_num, y_num)

In [59]:
for i in np.argsort(sim_scores.T)[0][::-1][:10]:
    print df['title'][i]

joshscorcher
Fed X Gaming
Cpt RageTastic
AnonymousAffection
Box Box
Daithi De Nogla
ZeroEmpires - Age of Empires 2
KPopp
Birdman
ExoticMoTioN

In [63]:
print df['title'][np.argsort(sim_scores.T)[0][::-1][:10]]

935                       joshscorcher
337                       Fed X Gaming
1280                    Cpt RageTastic
866                 AnonymousAffection
853                            Box Box
47                     Daithi De Nogla
986     ZeroEmpires - Age of Empires 2
457                              KPopp
585                            Birdman
1273                      ExoticMoTioN
Name: title, dtype: object

In [66]:
any(y)

True