In [7]:
n = np.array([[1,0,2],[0,0,0],[3,0,0]])
df = pd.DataFrame(n)

In [8]:
df

   0  1  2
0  1  0  2
1  0  0  0
2  3  0  0

In [11]:
not any(df[1])

True

In [1]:
import sys
sys.path.insert(0, '../YTCollab/src')

import extract_data
import scoreboard

In [7]:
y = extract_data.get_specific_channel('UCCbfB3cQtkEAiKfdRQnfQvw')

1.27392101288

In [3]:
y

,title,country,subs,videos,views,/m/03cz_9n,/m/0g65_,/m/010x69ky,/m/01mw1,/m/03glg,...,/m/025zzc,/m/0j7n6j0,/m/019_rr,/m/0cp0zz4,/m/0215n,/m/02ywx,/m/0d19pc,/m/04r1xv,/m/03hf_rm,/m/06w9fz2
0,Jesse Cox,US,868785,3327,365618748,1,2,1,21,1,...,26,1,1,1,1,1,1,1,6,1

In [2]:
d = extract_data._channel_categories()

In [6]:
sorted(d.keys())

['Animation',
 'Automotive',
 'Beauty & Fashion',
 'Causes & Non-profits',
 'Comedy',
 'Cooking & Health',
 'Film & Entertainment',
 'From TV',
 'Gaming',
 'How-to & DIY',
 'Lifestyle',
 'Music',
 'News & Politics',
 'Science & Education',
 'Sports',
 'Tech']